# builds of CUDA ops
compile.sh
MCCNN2/tf_ops/build/
*.so
# local test script
test*.py
# pycache
__pycache__/
*.pyc
# visual studio code files
.vscode/
# test models
test_point_clouds/
# copied files
*_copy.py
# bazel build files
bazel-*
artifacts